<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Two Boxes Layout</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    body{
    
      background: url('/static/images/lk.jpg') no-repeat top fixed;  
      background-size: 100%;
  
  
  }
  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <!-- First Box -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">

          <h4> RESULT</h4>



        
         
         
        </div>
      </div>
    </div>
    <!-- Second Box -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4>Dr. John Doe</h4>
          <p><strong>Specialization:</strong> Cardiologist: Specializing in the diagnosis and treatment of heart and circulatory system disorders in animals.</p>
          <p><strong>Experience:</strong> 15 years</p>
          <p><strong>Email:</strong> jonan123@gmail.com</p>

          <h4>Dr. Amol Patil</h4>
          <p><strong>Specialization:</strong> Ophthalmology: Dealing with diseases and conditions of the eyes and visual system in animals.</p>
          <p><strong>Experience:</strong> 4 years</p>
          <p><strong>Email:</strong> amol23@gmail.com</p>
 

          <h4>Dr. nita deshmukh</h4>
          <p><strong>Specialization:</strong> Radiology: Specializing in diagnostic imaging techniques such as X-rays, ultrasound, and MRI for animals.</p>
          <p><strong>Experience:</strong> 10 years</p>
          <p><strong>Email:</strong> nita12@gmail.com</p>


          <h4>Dr. sakshi bhosle</h4>
          <p><strong>Specialization:</strong> Dermatology: Specializing in the diagnosis and treatment of skin, ear, hair, and nail disorders in animals.</p>
          <p><strong>Experience:</strong> 9 years</p>
          <p><strong>Email:</strong> sakshi93@gmail.com</p>

          <h4>Dr. rohini biradar</h4>
          <p><strong>Specialization:</strong> Zoological Medicine: Working with exotic and zoo animals, often focusing on conservation, research, and management of captive populations.</p>
          <p><strong>Experience:</strong> 12 years</p>
          <p><strong>Email:</strong> rohini124@gmail.com</p>
 

          <h4>Dr. jasmin kalne</h4>
          <p><strong>Specialization:</strong> Veterinary Surgery: Focusing on surgical procedures for animals, including soft tissue, orthopedic, and neurosurgery.</p>
          <p><strong>Experience:</strong> 7 years</p>
          <p><strong>Email:</strong> jasmin43@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>



 
</body>
</html>
